/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Roboto:wght@900&display=swap');

/* best practice */
* {
  margin: 0;
  padding: 0;
  border: none;
}

/* hero section */
.title-name {
  color: white !important;
  font-family: 'Roboto', sans-serif;
  font-size: 6vh;
}

.title-profession {
  color: #c542c5 !important;
  font-family: 'Roboto', sans-serif;
  font-size: 6vh;
}

.intro {
  color: white !important;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.5vh;
}
