/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Roboto:wght@900&display=swap');

/* best practice */
* {
  margin: 0;
  padding: 0;
  border: none;
}

/* page standards */
body {
  color: white !important;
  font-family: 'Roboto Mono', monospace !important;
}

.color-custom {
  color: #c542c5 !important;
}

.white-font {
  color: white !important;
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

.font-roboto-mono {
  font-family: 'Roboto Mono', monospace !important;
}

/* hero section */
.intro-titles {
  padding-left: 18vh !important;
}

.title-name {
  font-size: 6vh;
}

.title-profession {
  font-size: 6vh;
}

.main-intro {
  font-size: 1.5vh;
}

/* my projects section */
.body-title {
  font-size: 3vh;
}

.grid-title {
  font-size: 2vh;
}

.grid-secondary-title {
  font-size: 1.75vh;
}

.grid-info {
  font-size: 1.5vh;
}

.icons {
  font-size: 3vh;
}

.icon-font-size {
  font-size: 1vh;
}

